.hoverScrollable {
    overflow: hidden;
    line-height: 20px;
    width: 200px;
    height: 20px;
    position: relative;
  }
  .hoverScrollable span {
    position: absolute;
    white-space: nowrap;
    transform: translateX(0);
    transition: 1s;
  }
  .hoverScrollable:hover span {
    transform: translateX(calc(200px - 100%));
  }